@{
    ViewData["Title"] = "Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/DiseñoAdmin.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="container logo-nave-container">
            <a href="~/" class="logo"><img src="~/Imagenes/logo.png" /></a>
            <nav class="Navigation">
                <ul>
                   
                </ul>
            </nav>
        </div>
    </header>
    <div>
        <main class="main">
            <div class="Container">
                <div class="Login">
                    <form method="post" action="~/Account/Login">
                        <h1>Login</h1>
                        <label>Usario: </label>
                        <input type="text" required name="username" />

                        <label>Contraseña: </label>
                        <input type="password" required name="password"/><br />

                        <p id="error">
                            @Html.ValidationSummary()
                        </p>
                        <input class="button" type="submit" value="Entrar" />
                    </form>
                </div>
               
            </div>
        </main>
    </div>
    <footer class="footer">
        <div class="Container-">
            <nav class="Navigation-">
                <ul>
                    <li><a href="#">Area del administrador</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>

