@{
    ViewData["Title"] = "Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/DiseñoAdmin.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="container logo-nave-container">
            <a href="~/Admin" class="logo"><img src="~/Imagenes/logo.png" /></a>
            <nav class="Navigation">
                <ul>
                    @if (User.IsInRole("Administrador"))
                    {
                        <li><a href="~/Admin/Albumes">Administrar albumes</a></li>
                    }
                    <li><a href="~/Admin/Reseñas">Administar reseñas</a></li>
                    <li><a href="~/Account/Logout">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
        <main class="main">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="Container-">
            <nav class="Navigation-">
                <ul>
                    <li><a href="#">Area del administrador</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>

