@model MundoRock.Models.Reseña
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Eliminar";
    Layout = "LayoutAdmin";
}

<form method="post" action="~/Admin/Reseñas/Eliminar">
    <div class="Container">
        <h1>Eliminar álbum</h1>
        <input type="hidden" id="idReseña" asp-for="@Model.Id" />
        <p>¿Deseas eliminar el album @Model.Nombre? </p>

        <div class="botenes">
            <p id="error" asp-validation="true">
                @Html.ValidationSummary()
            </p>
            <input type="submit" value="Eliminar" id="btnEliminar" />

            <a href="~/Admin/Reseñas">
                <input type="button" value="Cancelar" id="btnCancelar" />
            </a>
        </div>
    </div>
</form>

