@model IEnumerable<MundoRock.Models.Album>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    ViewData["Title"] = "Index";
    Layout = "LayoutAdmin";
}


<div class="Container">

    <div class="divAlbumsadd">
        <a href="~/Admin/Albumes/Agregar">
            Agregar un nuevo album
        </a>

    </div>

    @foreach (var item in Model)
    {
        <div class="divAlbums">

            @if (System.IO.File.Exists($"{env.WebRootPath}/Imagenes/Albumes/{item.Id}_a.jpg"))
            {
                <img src="~/Imagenes/Albumes/@(item.Id)_a.jpg" />
            }
            else
            {
                <img src="~/Imagenes/noalbum.png" />
            }
            <p>@item.Nombre</p>
            <a class="editar" href="~/Admin/Albumes/Editar/@item.Id">Editar</a>
            <a class="eliminar" href="~/Admin/Albumes/Eliminar/@item.Id">Eliminar</a>
       
        </div>
    }

</div>
